<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- <!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"> -->

<web-app>

 <welcome-file-list> 
    <welcome-file>desktopApp-login.html</welcome-file> 
  </welcome-file-list> 
  <servlet>
    <servlet-name>AppRouter</servlet-name>
    <servlet-class>com.creamtec.ajaxswing.AjaxSwingRouter</servlet-class>
    <load-on-startup>10</load-on-startup>
    <!-- 
    <init-param>
      <param-name>ajaxswing.home</param-name>
      <param-value>c:/AjaxSwing405</param-value>
    </init-param>
    -->
  </servlet>
  <servlet>
  <servlet-name>PlainJSPServlet</servlet-name>
    <servlet-class>com.creamtec.ajaxswing.PlainJSPServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>snoop</servlet-name>
    <servlet-class>SnoopServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>php</servlet-name>
    <servlet-class>net.php.servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>php-formatter</servlet-name>
    <servlet-class>net.php.formatter</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>AppRouter</servlet-name>
     <url-pattern>/apps/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>PlainJSPServlet</servlet-name>
	<url-pattern>/temp/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>snoop</servlet-name>
     <url-pattern>/snoop/*</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>php</servlet-name>
    <url-pattern>*.php</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>php-formatter</servlet-name>
	<url-pattern>*.phps</url-pattern>
  </servlet-mapping>

</web-app>
